*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "League Spartan", sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.main{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
@media screen and (width>768px){
    .flex-desktop{
        display: flex;
        flex-direction: row;
    }
}
.titles{
    width: 327px;
    height: 219px;
    margin: auto;
    position: relative;
    margin-bottom: 80px;
}

.title, .text-rate{
    font-weight: 700;
}
.title{
    line-height: 32px;
    font-size: 40px;
    text-align: center;
    color: #512051;
}
@media screen and (width>768px){
    .title{
        text-align: left;
    }
}
.text-title{
    line-height: 25px;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    letter-spacing: -0.63px;
    height: auto;
    color: #927B91;
}
@media screen and (width>768px){
    .text-title{
        text-align: left;
    }
}
.rate{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
}
.rate-box{
    background-color: #F7F2F7;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
}
@media screen and (width>768px){
    .rate-box{
        flex-direction: row;
        width: 445px;
        justify-content: space-around
    }
}
.rate-box p{
    margin: 0;
}
.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
@media screen and (width>768px){
    .stars{
        margin: 0 10px 0 0;
    }
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
@media screen and (width>768px){
    .reviews{
        flex-direction: row;
        gap: 16px;
    }
}
.review{
    border-radius: 8px;
    background-color: #512051;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 32px;
    margin-bottom: 16px;
}
.stars{
    align-items: center;
}
.profile{
    width: 162px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.type, .name, .text-review, .text-rate{
    font-size: 17px;
}
.text-review{
    width: 263px;
    height: 110px;
    font-weight: 500;
    color: white;
    line-height: 22px;
}
.info{
    margin-top: auto;
    margin-left: 20px
}
.info p{
    margin: 0;
}
.name{
    color:white;
    font-weight: 700;
}
.type{
    color: #EE69A4;
    font-weight: 400;
}